[Unit]
Description=XMPP to Telegram transport
Documentation=file:/home/ilya/Projects/xmpp-transport-telegram/README.md
After=network-online.target postgresql.service
Wants=network-online.target

[Service]
Type=forking
User=ilya
Group=ilya
WorkingDirectory=/home/ilya/Projects/xmpp-transport-telegram

RuntimeDirectory=xmpp-transport-telegram
RuntimeDirectoryMode=0755
PIDFile=/run/xmpp-transport-telegram/xmpp_transport_telegram.pid

ExecStart=/home/ilya/Projects/xmpp-transport-telegram/venv/bin/python -m xmpp_transport_telegram --config /home/ilya/Projects/xmpp-transport-telegram/config.ini --daemon --pid-file /run/xmpp-transport-telegram/xmpp_transport_telegram.pid
ExecStop=/home/ilya/Projects/xmpp-transport-telegram/venv/bin/python -m xmpp_transport_telegram --config /home/ilya/Projects/xmpp-transport-telegram/config.ini --stop --pid-file /run/xmpp-transport-telegram/xmpp_transport_telegram.pid
ExecStartPost=/bin/sleep 2

Restart=on-failure
RestartSec=10
TimeoutStartSec=30
TimeoutStopSec=40

[Install]
WantedBy=multi-user.target
